.question-post
{
    border-bottom: 1px solid $accent-color;
    padding-bottom: 10px;
    position: relative;

    h2, 
    .date
    {
        margin-top: 10px;
    }

    .tags
    {
        padding: 5px 12px;
        background-color: $accent-color;
        color: $text-color-lighter;
        border-radius: 2px;
        display: inline-block;
        margin-right: 12px;
        margin-top: 8px;
        cursor: pointer;

        &:last-of-type
        {
            margin-right: 0;
        }

        &:hover,
        &:active,
        &:focus
        {
            background-color: $hightlight-accent-color;
        }
    }

    .upvotes,
    .comments
    {
        text-align: right;
        padding: 0;

        .fa
        {
           width: 20px;
           margin-left: 5px;
           font-size: 18px;
        }
    }

    & + .question-post
    {
        margin-top: 15px;
    }

    &:nth-of-type(1)
    {
        margin-top: 25px;
    }

    .col-xs-3:nth-child(4)
    {
        position: absolute;
        bottom: 10px;
        right: 15px;
    }
}

.active-user-list
{

    list-style-type: none;

    li
    {
        margin-bottom: 10px;
        counter-increment: step-counter;


        .profile-picture
        {
            background-image: url("http://www.planwallpaper.com/static/images/327912-blue-yellow-abstract-wallpapers.jpg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            @include boxshadow(0 0 2px 1px $accent-color, inset);
        
            &::before
            {
                content: counter(step-counter);
                position: absolute;
                left: 13px;
                top: 6px;
                color: $text-color-lighter;
                text-shadow: 0 0 1px #000;
                font-size: 18px;

            }
        }
        .profile-username
        {
            margin-left: 5px;
            vertical-align: middle;
        }

    }
}