// General page color variables

$background-color:              #222222;
$background-color-lighter:      #555555;
$background-color-light:        #EEEEEE;
$background-color-btn:          #F14A29;
$background-color-btn-hover:    #CD4023;

$border-color:                  #888888;
$border-color-lighter:          #DDDDDD;

$text-color:                    #FFFFFF;
$header-color:                  #FFFFFF;