$default-text-color:        #222222;
$highlight-text-color:      #555555;
$text-color-lighter:        #FFFFFF;

$accent-color:              #6B717D;
$hightlight-accent-color:   #878E9A;

$icon-color:                #446C97;